{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Rp Stellaris</h1>
    <p class="lead">Ce site permet de creer des parties de stellaris RP et de se repartir les roles facilement </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comment ca marche?</h2>
        <p>
            Commencez par creer une partie en cliquant sur l'onglet creer et remplissez le formulaire. Un ID vas vous etre donnee, partagez le enssuite avec vos joueurs. <br>
            Cliquez enssuite sur rejoindre rentrez l'ID de la partie et un role vous est enssuite donne et un ID joueur. Paratgez l'ID joueur entre vous.<br>
            Si votre role vous permet de connaitre l'identite d'un joueur en debut de partie vous obtiendrez son ID ce qui vous permettera de le reconnaitre facilement.<br>
            Bon jeu!
        </p>
    </div>
    <div class="col-md-4">
        <h2>La strategie gagnante ?</h2>
        <p>Une strategie pour gagner a tout les coups.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Regles et site creer par Cracottes. GitHub du site disponible pour les curieux</p>
        <p><a class="btn btn-default" href="https://github.com/YFrendo/Generateur_stellaris_RP">GitHub &raquo;</a></p> 
    </div>
</div>

{% endblock %}
