{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Rp Stellaris</h1>
    <p class="lead">Ce site permet de creer des parties de stellaris RP et de se r&eacute;partir les roles facilement </p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comment ca marche?</h2>
        <p>
            Commencez par cr&eacute;er une partie en cliquant sur l'onglet creer et remplissez le formulaire. Un ID vas vous &ecirc;tre donnee, partagez le enssuite avec vos joueurs. <br>
            Cliquez enssuite sur rejoindre rentrez l'ID de la partie et un role vous est enssuite donn&eacute; et un ID joueur. Paratgez l'ID joueur entre vous.<br>
            Si votre role vous permet de connaitre l'identite d'un joueur en debut de partie vous obtiendrez son ID ce qui vous permettera de le reconnaitre facilement.<br>
            Bon jeu!
        </p>
    </div>
    <div class="col-md-4">
        <h2>La strat&eacute;gie gagnante ?</h2>
        <p>Une strat&eacute;gie pour gagner &agrave; tout les coups.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>R&egrave;gles et site creer par Cracottes. GitHub du site disponible pour les curieux</p>
        <p><a class="btn btn-default" href="https://github.com/YFrendo/Generateur_stellaris_RP">GitHub &raquo;</a></p> 
    </div>
</div>

{% endblock %}
